@use "./variable.scss" as v;

.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 66px 0 29px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;
  margin-top: auto;
  margin-top: 40px;

  &__logo {
      width: 122px;
      height: 40px;
  }

  &__copyright {
    font-family: v.$font-main;
    font-size: 24px;
    font-weight: 500;

    @media (max-width: 900px) {
        font-size: 12px;
      }
  }
}
