@use "./variable.scss" as v;

.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

    h1{
        font-size: 288px;
        color: v.$color-primary;
        font-family: v.$font-main;
        margin-top: 0px;
        margin-bottom: 5%;

        @media (max-width:900px) {
            font-size: 96px;
        }
    }
    p{
        font-size: 36px;
        color: v.$color-primary;
        font-family: v.$font-main;
        margin-top: 0px;
        margin-bottom: 9%;

        @media (max-width:900px) {
            font-size: 18px;
        }
    }
    a{ 
        font-size: 18px;

        @media (max-width:900px) {
            font-size: 14px;
        }
    }
}